@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oswald:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    scroll-behavior: smooth;
    
}
/*----------------------MENU------------------*/

.menu {
    position: fixed;
    width: 100%;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    background-color: #042326;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    padding-left: 30px;
}

.menu > nav >ul {
    list-style: none;
}

#menuBurguer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
#menuBurguer ul> li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

#menuBurguer ul> li > a:hover{
    color: rgb(200, 200, 200);
}

#logo{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
}

#logo2 {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
    display: none;
}

#logo:hover, #logo2:hover {
    color: rgb(200, 200, 200); ;
}
#guia {
    display: flex;
}

#guia > li {
    padding: 10px;
    
}

#redeSocial {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    
}

#redeSocial > li > a {
    padding: 10px;
    margin: 6px;
}
#redeSocial > li > a > img {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
}

#redeSocial > li > a > img:hover {
    transition: 600ms;
    transform: scale(1.1);
    background-color: rgb(200, 200, 200);

}

#burguer{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    visibility: hidden;
}


/*----------------------HOME------------------*/

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    width: 100%;
    background-color: #0A3A40;
}

#profile {
    display: flex;
    flex-wrap: wrap;
}

#profile_text {
    padding-right: 50px;

}
#profile_text > h1 {
    color: aqua;
    background-color: rgba(0, 0, 0, 0.250);
    font-family: 'Major Mono Display', monospac;
    font-size: 40px;
    
}

#profile_text > span, #profile_text > p {
    display: inline-flex;
    background-color: #a6b6b6a8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

#home .line {
    border-right: 0.2rem solid  white;
    white-space: nowrap;
    overflow: hidden;
  }
  
#home .typing {
    animation: line-typing 500ms steps(40) infinite normal,
    typing 3s steps(40) 1.4s normal backwards;
}

#profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    
}

#profile_foto {
    border-radius: 50%;
    background-color:#1D7373 ;
    border: 2px solid rgba(0, 0, 0, 0.600);
    box-shadow: 2px 2px 4px black;
    height: 400px;
    width: 400px; 
    overflow: hidden;
}

#profile_foto > img {
    display: block;
    margin: auto;
    
    height: 100%;
    width: 100%;
}
#profile_foto:hover {
    transform: scale(1.05);
    transition: .7s;
}

@keyframes typing {
from {
    width: 0;
}
to {
    width: 24.5rem;
}
}

@keyframes line-typing {
from {
    border-right-color: white;
}
to {
    border-right-color: transparent;
}
}


/*--------------------------SOBRE MIM-------------------*/


#sobre_mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0F5959;
    width: 100%;
    height: 650px;
    transition: 600ms;
}

#foto_pc {
    background-color: #1D7373 ;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.426);
    box-shadow: -2px 2px 4px black;
}

#foto_pc > img {
    padding-top: 15%;
    width: 100%;
    
}
#foto_pc:hover {
    transform: scale(1.1);
    transition: 1s;
}

#caixa_pessoal {
    float: left;
    height: 500px;
    max-width: 600px;
}

#titulo_pessoal {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 40px;
    font-size: 40px;
    text-shadow: 2px 2px black;
}

#texto_pessoal {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.537);
    box-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 2px black;
    color: white;
    margin: 0px 40px 40px 20px ;
    font-family:"DM Sans", sans-serif ;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}


/*----------------------CONHECIMENTOS------------------*/

#conhecimentos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #0A3A40;
    height: 625px;
    width: 100%;
    padding-top: 120px;
    transition: 1s;
    text-shadow: 1px 1px 1px black;
}


#conhecimentos > h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;
    text-shadow: 2px 2px black;
}

#containers {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#containers > div {
    height: 100%;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.537);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px ;
    box-shadow: 2px 2px 4px black;
}

#containers > div:hover {
    transform: scale(1.04);
    transition: 1s;
}

#containers > div > img {
    padding-left: 10px;
    padding-top: 10px;
}

#containers > div > h4 {
    color: white;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 25px;
}

#containers > div > p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*-------------------------PROJETOS---------------------------*/

#projetos{
    background-color: #0F5959;
    height: 100%;
    width: 100%;
    color: white;
}

#projetos > h2 {
    padding-top: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;
    text-shadow: 2px 2px black;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#card {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.537);
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

#card > h3 {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    text-shadow: 1px 1px 1px black;
}

#card > div > h4 {
    padding-top: 15px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding-bottom: 20px;
}

#card > div >p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

#card > div img {
    padding: 15px;
    width: 100%;
    height: 100%;
}

#gif { 
    background-image: url('../images/loading.png!bw700');
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-left: 75px ;
}










@media screen and (max-width: 1300px) {
    
    #conhecimentos {
        height: 100%;
        padding-bottom: 50px;
    }
    #containers {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        grid-gap: 40px;
    }

    
}

@media screen and (max-width: 1100px){

    #home {
        display: flex;
    }

    #profile_foto {
        height: 320px;
        width: 320px;
    }

    #profile_foto > img{
        height: 100%;
        width: 100%;

    }

    #sobre_mim{
        padding-left: 20px;
        padding-top: 30px;
        height: 100%;
    }

    #foto_pc {
        height: 320px;
        width: 320px;
        overflow: hidden;
    }

    #foto_pc > img {
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }
    
    #foto_pc:hover {
        transform: scale(1.05);
        transition: 1s;
    }

    #texto_pessoal {
        padding-left: 20px;
    }
}

@media screen and (max-width: 957px) {

    #profile {
        display: grid;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 50px;
        transition: 600ms;
    }

     #profile_foto {
        margin: auto;
    }

    #sobre_mim{
        padding-top: 75px;
    }
}

@media screen and (max-width: 750px) { 
    #logo2 {
        display: block;
    }
    #burguer {
        visibility: visible;
        cursor: pointer;
        color: white;
    }

    #menu {
        display: flex;
        padding-left: 20px;
        margin-right: 20px;
        
    }

    #logo {
        padding-left: 0px;
    }
    
    #menuBurguer {
        width: 100%;
        display: none;
        margin-top: 187px;
    }

    #guia {
        display: block;
        text-align: center;
        margin-top: 115px;
        background-color: #042326;
    }

    #guia > li {
        border: 1px solid rgba(255, 255, 255, 0.2);
        height: 50px;
        padding-top: 7px ;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #redeSocial {
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: #042326;
        justify-content: center;
        height: 50px;
        padding-top: 7px ;
        padding-right: 28px;
    }

    #titulo_pessoal{
        font-size: 35px;
    }

    #texto_pessoal {
        font-size: 20px;
    }

    #conhecimentos {
        height: 100%;
        padding-top: 35px;
        padding-bottom: 130px;
    }

    #conhecimentos > h2{
        font-size: 35px;
    }
    #containers {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap: 20px;
        padding-top: 30px;
        
    }

    #containers > div {
        height: 100%;
        width: 240px;
        margin: 10px ;
    }
    
    
    #containers > div > img {
        padding-left: 10px;
        padding-top: 10px;
        height: 100px;
        width: 100px;
    }
    
    #containers > div > h4 {
        margin-top: 5px;
        margin-left: 15px;
        font-size: 15px;
    }
    
    #containers > div > p {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 20px;
        font-size: 16px;
    }
    
    #projetos > h2 {
        font-size: 35px;
    }
    
    #card {
        height: 340px;
        width: 320px;
    }
    
    #card > h3 {
        font-size: 24px;
        padding-top: 15px;

    }
    
    #card > div > h4 {
        padding-top: 8px;
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    #card > div >p {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    
    #card > div img {
        padding: 15px;
        width: 100%;
        height: 100%;
    }

    #gif {
        margin-left: 75px ;
    }
    

}

@media screen and (max-width: 530px) {
    #profile_text {
        padding-left: 20px;
    
    }
    #profile_text > h1 {
        font-size: 30px;
        
    }
    
    #profile_text > span, #profile_text > p {
        font-size: 18px;
    }

    #profile_foto {
        height: 300px;
        width: 300px; 
    }
    
    #foto_pc {
        height: 250px;
        width: 250px;
    }
    
    #foto_pc > img {
        padding-top: 15%;
        width: 100%;
    }

    #texto_pessoal {
        margin: 0px 40px 40px 20px ;
        font-size: 18px;
    }

    #card {
        height: 370px;
        width: 320px;
    }

    #gif {
        margin-left: 55px ;
    }
}